* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #ffc7f1, #ff6895);
    color: #191970;
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 183, 231, 0.9);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 100;
    transition: box-shadow 0.3s ease;
}

.menu-bar.scrolled {
    box-shadow: 0 1px 3px rgba(17, 47, 104, 0.3);
}

.menu-logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
}

.menu-links {
    display: flex;
}

.menu-links a {
    color: #191970;
    text-decoration: none;
    margin-left: 1rem;
}

.menu-links a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    padding-top: 4rem;
}

header {
    position: relative;
    text-align: left;
    margin-left: 5rem;
    margin-top: 6rem;
    margin-bottom: 9rem;
}

.header-content {
    max-width: 37em;
    margin-right: 5rem;
}

.curved-button {
    display: inline-block;
    background-color: #191970;
    color: #ffb7e7;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.curved-button a {
    text-decoration: none;
    color: inherit;
  }

.curved-image {
    position: absolute;
    top: 8rem;
    right: 8rem;
    width: 25rem;
    height: 25rem;
    border-radius: 20px;
    z-index: -1;
}

section {
    padding: 4rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon img {
    width: 250px;
    height: auto;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjusted from space-around to space-between for even spacing */
    list-style: none;
    padding: 0; /* Ensure that there's no padding on the ul element itself */
    margin: 0 auto; /* This centers the ul in the section, adjust as necessary */
    max-width: 1200px; /* You can set a max-width to contain the elements in a centered layout */
}

#services li {
    flex: 0 0 calc(33.333% - 2rem); /* Adjust the subtracted value to increase space */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    padding: 0 1rem; /* Add padding to each side of the list items */
}

#differentiators {
    background: #191970;
    color: #ffb7e7;
    padding: 6rem 6rem 6rem 4rem;
}

.carousel {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.carousel-item {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5rem;
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;
    text-align: center;
    box-sizing: border-box;
    transition: all 3s;
    transform: translateX(100%);
}

.carousel-item.active {
    opacity: 1;
    transform: translateX(0%);
}

/* General styles for .clients section */

.clients-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 logos in a row */
    gap: 4rem 4rem; /* Gap between the logos was 10px before */
    margin-top: 50px; /* Adjust to add more space between the H2 and the logos */
}

.clients-grid img {
    width: 100%; /* Makes sure each logo fills its container */
    max-width: 150px; /* Adjust as per your logo's actual size */
    margin: 0 auto; /* Centers the logo in the grid cell */
}

/* Mobile Optimization using media queries */

@media (max-width: 768px) { /* For tablets and below */
    .clients-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 logos per row on tablets and below */
    }
}

@media (max-width: 480px) { /* For mobile phones and very small screens */
    .clients-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 logo per row on very small screens */
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
}

.member-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.member-text h3 {
    margin-bottom: 1rem;
    text-align: left;
}

.member-img {
    display: flex;
    justify-content: right;
    padding: 1rem;
    margin-bottom: 2rem;
}

.member-img img {
    border-radius: 50%;
    max-width: 25%;
    height: auto;
    object-fit: contain;
}

.container {
    display: flex;
    align-items: flex-start;
  }
  
  .my-paragraph {
    width: 33%;
  }
  
  .my-image {
    margin-left: 80px;
    vertical-align: top;
    margin-top: -100px;
    width: 20%;
  }

footer {
    background-color: #191970;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

footer a {
    color: #ffb7e7;
    text-decoration: none;
    margin: 0 1rem;
}

footer a:hover {
    text-decoration: underline;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
    .menu-logo {
        font-family: 'Abril Fatface', cursive;
        font-size: 1rem;
    }
    
    section{
        padding: 40px 15px;
    }
    
    header{
        margin-left: 0;
    }
    h1 {
        padding-top: 0;
        font-size: 2rem;
    }

    h2{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    .header-content {
        margin-right: 0;
        max-width: 100%;
    }
    .curved-image{
        width: 280px;
        height: 280px;
        text-align: center;
        margin-top: 50px;
        position: initial;
    }

    #services ul {
        text-align: center;
    }
    #services li {
        flex: 0 0 calc(88% - 1rem);
    }

    #differentiators{
        padding: 40px 15px;
    }
    .carousel {
        height: 350px;
    }
    .carousel-item{
        padding: 2rem;
        font-size: 1.5rem;
    }
    .grid-container {
        display: block;
    }
    .member-img{
        display: block;
        margin-bottom: 10px;
    }
    .my-paragraph {
        width: 100%;
    }
    .container {
        display: block;
    }
    .my-image{
        margin: 0;
        width: 60%;
    }
    footer a{
        font-size: 13px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    header{
        margin-left: 0;
    }
    h1 {
        padding-top: 0;
        font-size: 3rem;
    }
    .header-content {
        margin-right: 0;
        max-width: 100%;
    }
    .curved-image{
        text-align: center;
        margin-top: 50px;
        position: initial;
    }
    #differentiators{
        padding: 40px 15px;
    }
    .carousel {
        height: 300px;
    }
    .carousel-item{
        padding: 2rem;
        font-size: 2rem;
    }
    .grid-container {
        display: block;
    }
    .member-img{
        display: block;
        margin-bottom: 10px;
    }
    .my-paragraph {
        width: 100%;
    }
    .container {
        align-items: center;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    header{
        margin-left: 0;
    }
    h1 {
        padding-top: 0;
        font-size: 3rem;
    }
    .header-content {
        margin-right: 0;
        max-width: 100%;
    }
    .curved-image{
        text-align: center;
        margin-top: 50px;
        position: initial;
    }
    .carousel-item{
        font-size: 2.5rem;
    }

    .my-paragraph {
        width: 100%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    header{
        margin-left: 0;
    }
    h1 {
        font-size: 3rem;
    }
    .header-content {
        max-width: 30em;
    }
    .curved-image{
        right: 2rem;
    }
    

}